/*
Theme Name: Divi-Child
Author: Anum Tariq
Template: Divi
*/

.et_pb_button_0_wrapper .et_pb_button_0, .et_pb_button_0_wrapper .et_pb_button_0:hover {
	padding-top: 5px!important;
	padding-right: 30px!important;
	padding-bottom: 5px!important;
	padding-left: 30px!important;
}
.et_pb_button_1_wrapper .et_pb_button_1, .et_pb_button_1_wrapper .et_pb_button_1:hover {
	padding-right: 30px!important;
	padding-left: 30px!important;
}
h3 {
	font-size: 27px;
	color: #cc9900;
}
div #to-move-img {
	position: relative;
	margin-left: 165px;
}
div #menu-txt{
	color: #cc9900;
	margin-bottom: 0px;
}
div#menu-divider {
	margin: 0px;
}
.et_pb_column_8 {
	background-color: rgb(0 0 0 / 59%);
	padding: 50px;
}
.et_pb_column_12 {
	background-color: #000000b0;
	padding: 80px;
}
input.wpcf7-form-control.wpcf7-submit {
	background-color: #cc9900;
	font-size: 16px;
	border: none;
	padding: 11px 100px;
	color: #fff;
}
label {
	color: #cc9900;
	font-weight: bold;
	font-size: 16px;
}
input.text, input.title, input[type=email], input[type=password], input[type=tel], input[type=text], select, textarea {
	background-color: #ffffffb3;						
	border: 1px solid #bbb;
	padding: 1em;
	color: #4e4e4e;
	font-style: italic;

}
input  {

	background-color: #ffffffb3;
	padding: 1em;
	border: #e7e7e7 1px solid;
	font-style: italic;
	width: 45%;
}
h2 .woocommerce-loop-product__title {

	color: #cc9900;
	font-size: 18px;
}
.woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
	background: #cc9900;
}


.woocommerce a.button,  .woocommerce-page a.button{

	
font-size: 20px;
font-weight: 500;
padding: .3em 1em;
line-height: 1.7em!important;
background: #cc990008;
position: relative;
border: #cc9900 2px solid;
border-radius: 3px;
-webkit-transition: all .2s;
transition: all .2s;
color: #cc9900;
}

h2 .woocommerce-Reviews-title {
	color: #cc9900;
}

h1 .product_title.entry-title {
	color: #cc9900;
}
h2 {
	color: #cc9900;
}
h2 .woocommerce-loop-product__title {
	color: #cc9900;
}
.woocommerce-page button.button, .woocommerce-page button.button.alt, .woocommerce-page button.button.alt:hover, .woocommerce-page button.button:hover,  .woocommerce button.button, .woocommerce button.button.alt,  .woocommerce button.button, .woocommerce button.button.alt{
	color: #cc9900;
}
.star-1, .star-2, .star-3, .star-4, .star-5 {
	color: #cc9900;
}

.cart_totals h2, .shipping_calculator h2 {
	margin-bottom: 10px;
	color: #cc9900;
}
#et_search_icon:hover, #top-menu li.current-menu-ancestor>a, #top-menu li.current-menu-item>a, .bottom-nav li.current-menu-item>a, .comment-reply-link, .entry-summary p.price ins, .et-social-icon a:hover, .et_password_protected_form .et_submit_button, .footer-widget h4, .form-submit .et_pb_button, .mobile_menu_bar:after, .mobile_menu_bar:before, .nav-single a, .posted_in a, .woocommerce #content div.product p.price, .woocommerce #content div.product span.price, .woocommerce #content input.button, .woocommerce #content input.button.alt, .woocommerce #content input.button.alt:hover, .woocommerce #content input.button:hover, .woocommerce #respond input#submit, .woocommerce #respond input#submit.alt, .woocommerce #respond input#submit.alt:hover, .woocommerce #respond input#submit:hover, .woocommerce-page #content div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page #content input.button, .woocommerce-page #content input.button.alt, .woocommerce-page #content input.button.alt:hover, .woocommerce-page #respond input#submit, .woocommerce-page #respond input#submit.alt, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page .star-rating span:before, .woocommerce-page a.button, .woocommerce-page a.button.alt, .woocommerce-page a.button.alt:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button, .woocommerce-page button.button.alt, .woocommerce-page button.button.alt.disabled, .woocommerce-page button.button.alt.disabled:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page button.button:hover, .woocommerce-page div.product p.price, .woocommerce-page div.product span.price, .woocommerce-page input.button, .woocommerce-page input.button.alt, .woocommerce-page input.button.alt:hover, .woocommerce-page input.button:hover, .woocommerce .star-rating span:before, .woocommerce a.button, .woocommerce a.button.alt, .woocommerce a.button.alt:hover, .woocommerce a.button:hover, .woocommerce button.button, .woocommerce button.button.alt, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:hover, .woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce input.button, .woocommerce input.button.alt, .woocommerce input.button.alt:hover, .woocommerce input.button:hover, .wp-pagenavi a:hover, .wp-pagenavi span.current {
	color: #cc9900;
}